:root {
  color-scheme: light dark;

  --bg-color: #ffffff;
  --text-color: #000000;
}


:root[data-theme="dark"] {
  --bg-color: #141414;
  --text-color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s; /
}